@media(max-width:1200px){
   .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:57px ;
    width: 72px;
    color: white;
    z-index: 200;
    background-color: white;
  
}
.sidebar-link{
    height: 75px;
    font-size: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color:rgb(236,236,236) ;
}
.sidebar-link img{
    width: 24px;
    margin-bottom: 6px;
}
}
@media(min-width:1200.1px){
    
    .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:57px ;
    width: 150px;
    color: white;
    z-index: 200;
    background-color: white;
    padding-left: 20px;
  
}
.sidebar-link{
    height: 45px;
    font-size: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color:rgb(236,236,236) ;
}
.sidebar-link img{
    width: 24px;
    margin-bottom: 6px;
}


}
